<template>
    <div class="flex flex-col items-center justify-center">
        <main class="text-center mb-4">
            <h1 class="text-4xl font-raleway font-bold uppercase">About Crices</h1>
            <p>This is a project of practique with Vue.js</p>
        </main>
        <footer>
            <router-link to="/" class="button rounded-sm text-white bg-red-500 hover:bg-red-600">Back to Home Page</router-link>
        </footer>
    </div>
</template>

<script>
export default {
    name: 'About'
}
</script>