<template>
    <div>
    <beat-loader class="text-center" :loading="isLoading" :color="`#1e87f0`"></beat-loader>
    <div v-if="asset.id" class="flex flex-col items-center">
        <section class="shadow-card px-8 py-16 w-full sm:flex sm:flex-col md:grid md:grid-cols-3">
            <article class="flex flex-col items-center mb-4">
                <img class="w-16" :src="`https://static.coincap.io/assets/icons/${asset.symbol.toLowerCase()}@2x.png`" :alt="asset.name">
                <div>
                    <span class="font-raleway text-3xl">{{ asset.name }}</span>
                    <span class="font-raleway font-medium text-sm">{{ asset.symbol }}</span>
                </div>
            </article>
            <article class="flex justify-center items-center mb-4">
                <ul class="text-sm">
                    <li class="flex justify-between">
                        <span class="font-bold mr-10 uppercase">Ranking</span>
                        <span>#{{ asset.rank }}</span>
                    </li>
                    <li class="flex justify-between">
                        <span class="font-bold mr-10 uppercase">Market Cap</span>
                        <span>{{ asset.marketCapUsd | dollar }}</span>
                    </li>
                    <li class="flex justify-between">
                        <span class="font-bold mr-10 uppercase">Actual Price</span>
                        <span>{{ asset.priceUsd | dollar }}</span>
                    </li>
                    <li class="flex justify-between">
                        <span class="font-bold mr-10 uppercase">Lowest Price</span>
                        <span>{{ min | dollar }}</span>
                    </li>
                    <li class="flex justify-between">
                        <span class="font-bold mr-10 uppercase">Highest Price</span>
                        <span>{{ max | dollar }}</span>
                    </li>                            
                    <li class="flex justify-between">
                        <span class="font-bold mr-10 uppercase">Average Price</span>
                        <span>{{ avg | dollar }}</span>
                    </li>           
                    <li class="flex justify-between">
                        <span class="font-bold mr-10 uppercase">Average 24hrs</span>
                        <span :class="asset.changePercent24Hr.includes('-') ? 'text-red-600' : 'text-green-600'">{{ asset.changePercent24Hr | percent}}</span>
                    </li>
                </ul>
            </article>
            <article>
                <div class="flex flex-col items-center">
                    <button class="button bg-primary hover:bg-primary-dark focus:outline-none text-white mb-4"
                    @click="toggleConverter"
                    >{{ fromUsd ? `${asset.symbol} to USD` : `USD to ${asset.symbol}` }}</button>
                    <input 
                    v-model="convertValue"
                    :placeholder="fromUsd ? 'USD Value' : `${asset.symbol} Value`"
                    class="border border-gray-300 focus:border-primary outline-none pl-2 py-1 text-center mb-4" 
                    type="number"
                    >
                    <span>{{ convertResult }} {{ fromUsd ? asset.symbol : 'USD' }}</span>
                </div>
            </article>
        </section>
        <section class="shadow-card my-12 px-8 py-16 w-full sm:flex sm:flex-col md:flex md:flex-col">
            <area-chart
            width="auto"
            :colors="['#3f99f3', '#1e87f0']"
            :min="min"
            :max="max"
            :data="history.map(h => [h.date, parseFloat(h.priceUsd).toFixed(2)])"
            ></area-chart>
        </section>
    </div>
    </div>
</template>

<script>
import api from '@/api'

export default {
    name: 'CoinDetail',
    data() {
        return {
            isLoading: false,
            asset: {},
            history: [],
            fromUsd: true,
            convertValue: null,
        }
    },
    created() {
        this.getCoin()
    },
    computed:{
        convertResult(){
            if (!this.convertValue) {
                return 0
            }
            const result = this.fromUsd 
            ? this.convertValue / this.asset.priceUsd 
            : this.convertValue * this.asset.priceUsd
            return result.toFixed(4)
        },
        min(){
            return Math.min(
                ... this.history.map(h => parseFloat(h.priceUsd).toFixed(2))
            )
        },
        max(){
            return Math.max(
                ... this.history.map(h => parseFloat(h.priceUsd).toFixed(2))
            )
        },
        avg(){
            return Math.abs(
                ... this.history.map(h => parseFloat(h.priceUsd).toFixed(2))
            )
        },
    },
    methods: {
        toggleConverter() {
            this.fromUsd = !this.fromUsd
            this.convertValue = null
        },
        getCoin() {
            const id = this.$route.params.id
            this.isLoading = true
            Promise.all([
                api.getAsset(id),
                api.getAssetHistory(id)
            ])
            .then(([asset, history]) => {
                this.asset = asset
                this.history = history
            })
            .finally(() => {this.isLoading = false})
        }
    },
}
</script>