<template>
    <div class="flex flex-col items-center justify-center">
        <main class="text-center mb-4">
            <h1 class="text-4xl font-bold uppercase">Error 404</h1>
            <p>This page is not in our database.</p>
        </main>
        <footer>
            <router-link to="/" class="button rounded-sm text-white bg-red-500 hover:bg-red-600">Back to Home Page</router-link>
        </footer>
    </div>
</template>