<template>
    <div class="flex justify-center mt-16">
        <cs-coin-table></cs-coin-table>
    </div>
</template>

<script>
import CsCoinTable from '@/components/CsCoinTable'

export default {
    name:'Caps',
    components: {CsCoinTable},
    data() {
        return {
            loading: false
        }
    },
    created() {
        this.loading= true
    },
}
</script>

<style scoped>

</style>