<template>
    <section >
        <article class="w-full flex justify-between mb-4 uppercase">
            <ul>
                <li>
                <button 
                class="button focus:outline-none text-gray-500 hover:text-gray-600 hover:bg-gray-100"
                :class="{active : sortActive}"
                @click="sortRank"
                >RANK</button></li>
            </ul>
            <input
            class="border border-gray-300 focus:border-primary outline-none pl-2 py-1 mb-4"
            placeholder="Search..."
            type="text"
            v-model="filter"
            >

        </article>
        <div class="flex flex-col items-center">
            <beat-loader :loading="isLoading" :color="`#1e87f0`"></beat-loader>
        <div class="grid gap-4 sm:grid-rows md:grid-cols-2">
            <cs-coin
            v-for="a in filteredAssets"
            :key="a.id" :assets="assets"
            :rank="a.rank"
            :name="a.name"
            :symbol="a.symbol"
            :price="a.priceUsd"
            :cpercent="a.changePercent24Hr"
            :id="a.id"
            />
        </div>
        </div>

    </section>
</template>

<script>
import CsCoin from '@/components/CsCoin'
import api from '@/api'

export default {
    name:'CsCoinTable',
    components: {CsCoin},
    data(){
        return{
            assets: [],
            sortActive: false,
            filter: '',
            isLoading: false,
        }
    },
    methods: {
        sortRank (){
            this.sortActive = !this.sortActive
            this.assets.reverse()
        }
    },
    computed: {
        filteredAssets(){
            if (!this.filter) {return this.assets}

            return this.assets.filter(
                a => 
                a.symbol.toLowerCase().includes(this.filter.toLowerCase()) ||
                a.name.toLowerCase().includes(this.filter.toLowerCase())
            ) 
        }
    },
    created() {
        this.isLoading = true
        api.getAssets()
        .then(assets => (this.assets = assets))
        .finally(() => {this.isLoading = false})
    },
}
</script>

<style scoped>
</style>