<template>
    <article class="shadow-card w-full p-4">
    <div class="flex items-center">
        <img class="w-16" :src="`https://static.coincap.io/assets/icons/${symbol.toLowerCase()}@2x.png`" :alt="name">
            <div class="leading-none ml-2">
                <div class="flex flex-col">
                    <span class="text-xs">#{{ rank }}</span>
                    <h1 class="text-3xl font-raleway font-bold"><router-link :to="{name: 'coin-detail', params: {id: id}}">{{name}}</router-link><span class="text-xs font-medium">{{symbol}}</span></h1>
                </div>
                <div class="flex items-center">
                    <span class="text-xl">{{price | dollar}}</span>
                    <span :class="cpercent < 0 ? 'text-red-600' : 'text-green-600'" class="text-xs font-semibold">({{cpercent | percent}})</span>
                </div>
            </div>
    </div>
    <footer class="mt-2">
        <router-link class="px-2 py-1 text-primary hover:text-primary-dark" :to="{name: 'coin-detail', params: {id: id}}">DETAIL</router-link>
    </footer>
    </article>
</template>

<script>
export default {
    name:'CsCoin',
    data() {
        return {
            urlcoin: `/coin/${this.name.toLowerCase()}`
        }
    },
    props:{
        assets:{
            type:Array,
            default: () => []
        },
        rank:{
            type:String
        },
        name:{
            type:String
        },
        symbol:{
            type:String
        },
        price:{
            type:String
        },
        cpercent:{
            type:String
        },
        id:{
            type:String
        }
    },
    methods: {
    },
}

</script>

<style scoped>
</style>