<template>
    <header class="bg-primary px-4 py-6  w-full shadow grid grid-cols-2 items-center justify-between">
        <span class="flex items-center"><cs-logo class="mr-1"/><router-link class="text-white text-2xl font-raleway font-700" to="/">Crices</router-link></span>
        <nav class="text-white text-sm uppercase flex justify-end">
            <router-link to="/" class="button mx-1 hover:text-gray-300">Home</router-link>
            <router-link to="/about" class="button mx-1 hover:text-gray-300">About</router-link>
        </nav>
    </header>
</template>

<script>
import CsLogo from '@/components/CsLogo'
export default {
    name: 'CsHeader',
    components: {CsLogo}
}
</script>

<style scoped>
</style>