<template>
  <main id="app">
    <cs-header></cs-header>
    <router-view class="mx-8 my-12"></router-view>
  </main>
</template>

<script>
import CsHeader from '@/components/CsHeader'

export default {
  name: 'App',
  components: {
    CsHeader,
  }
}
</script>

<style scoped>
  #app {
    margin: 0 auto;
    max-width: 1280px;
  }
</style>
