@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
    padding: 5px 10px;
}
.active {
    background-color: #1e87f0;
    color: white;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .3s;
  }